body
{
	background-color: #404d33;
	text-align: center;
}
#top
{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
}
#mid
{
	text-align: center;
}
#bottom
{
	font-weight: bold;
	font-style: arial;
	font-size: 25px;
}